<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="row" style="text-align: center;">
            <img src="https://www.freeiconspng.com/thumbs/youtube-logo-png/download-youtube-logo-png-clipart-3.png" class="card-img-top" alt="..." style="height:100px;">
        <h1 style="margin-top:-20px;"> {{title | default: "My Blogs"}}  </h1>
        </div>
    </header>
    
    <main>
        {{content}}

    </main>
</body>
</html>